<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
    <title>FTC Passwords | Password List</title>
    <link rel="stylesheet" href="/stylesheets/passwords.css">

</head>
<body>
<% include ../partials/nav.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Password List</h1>
        <div class="row">
            <!--searches the table by using a javascript function-->
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span
                            class="glyphicon glyphicon-search"></span></span>
                <input id="search" class="form-control" onkeyup="tableSearch('search','tab')"
                       placeholder="Search by Name">

                <span class="input-group-addon" id="basic-addon2" data-toggle="collapse" data-target="#addPass" aria-expanded="false"   aria-controls="collapseExample">+</span>
            </div>
        </div>





        <div class="collapse col-sm-8 col-sm-offset-2" id="addPass" style="padding-top:30px">
            <div class="card">
                <form id="newPassForm" action="/passwords/add" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group col-md-12">
                                <label for="name">Name: </label>
                                <input class="form-control" required type="text" id="name" name="name">
                            </div>
                        

                            <div class="form-group col-md-12">
                                <label for="pass">Password: </label>
                                <input type="text" id="pass" required name="pass" class="form-control">
                            </div>
                        
                            
                            <div class="form-group col-md-12">
                                <label for="url">Url: </label>
                                <input type="text" id="url" name="url" class="form-control">
                            </div>
                        
                        </div>
                        <div class="col-md-6">
                            
                            <div class="form-group col-md-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Description: </span>
                                </div>
                                <textarea class="form-control" id="description" name="description" aria-label="With textarea"></textarea>
                            </div>

                        </div>


                    </div>


                    <div class="modal-footer">
                        <input type="submit" value="Submit" class="btn btn-success"/>

                        <!-- <button type="button" class="btn btn-primary" onclick="addPassword()" data-dismiss="modal"
                                data-toggle="modal" data-target="#myModal">Add password
                        </button> -->
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="collapse" data-target="#addPass">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>





<div class="container">
    <!-- Lets get this to be a list view -->
    <section>
            <table class="table" id="tab">
              <thead>
                <tr>

                  <th scope="col">Name</th>
                  <th scope="col">Password</th>
                  <th scope="col">Description</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
            <% for(var i = 0; i < passwords.length; i++) { %>
                <tr>
                  <td scope="row" >
                  <a href="<%= passwords[i].Url %>" id="passName-<%= passwords[i].PasswordID%>" target="_blank"><%=passwords[i].Name %></a></td>
                  <td id="passPass-<%= passwords[i].PasswordID%>"><%= passwords[i].Pass %></td>
                  <td id="passDesc-<%= passwords[i].PasswordID%>"><%= passwords[i].Description %></td>
                  <td><span class="editBtn" onclick="editclicked(<%= passwords[i].PasswordID %>)">
                    <a href='#' data-toggle="modal" data-target="#edit" data-id="<%=passwords[i].PasswordID %>" >
                        <span class="glyphicon glyphicon-edit editBtnImg"></span>
                    </a>
                  </span></td>

                </tr>
            <% }%>
                </tbody>
            </table>


    </section>
</div>



<% include edit.ejs%>
<script src="/javascripts/tableSearch.js" type="text/javascript" rel="script"></script>

<script src="/javascripts/passwords.js" type="text/javascript" rel="script"></script>


</body>
</html>